#div {
  border: 1px solid blue;
}

#margemcima {
  color: white;
  background-color: green;
  height: 25vh;
}

#rio {
  color: white;
  background-color: blue;
  height: 40vh;
}

#margembaixo {
  color: white;
  background-color: green;
  height: 25vh;
}

.elemento {
  display: inline-block;
  font-size: 5em;
}

#desce {
  float: right;
  font-size: 5em;
}

#sobe {
  float: right;
  font-size: 5em;
}

#cima{
  border: 1px solid black;
  display: flex;
  height: 20vh;
}

#baixo{
  border: 1px solid black;
  display: flex;
  height: 20vh;
}